In [25]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [26]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [27]:
train.head()

,id,species,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,...,texture55,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64
0,1,Acer_Opalus,0.007812,0.023438,0.023438,0.003906,0.011719,0.009766,0.027344,0.0,...,0.007812,0.000000,0.002930,0.002930,0.035156,0.0,0.0,0.004883,0.000000,0.025391
1,2,Pterocarya_Stenoptera,0.005859,0.000000,0.031250,0.015625,0.025391,0.001953,0.019531,0.0,...,0.000977,0.000000,0.000000,0.000977,0.023438,0.0,0.0,0.000977,0.039062,0.022461
2,3,Quercus_Hartwissiana,0.005859,0.009766,0.019531,0.007812,0.003906,0.005859,0.068359,0.0,...,0.154300,0.000000,0.005859,0.000977,0.007812,0.0,0.0,0.000000,0.020508,0.002930
3,5,Tilia_Tomentosa,0.000000,0.003906,0.023438,0.005859,0.021484,0.019531,0.023438,0.0,...,0.000000,0.000977,0.000000,0.000000,0.020508,0.0,0.0,0.017578,0.000000,0.047852
4,6,Quercus_Variabilis,0.005859,0.003906,0.048828,0.009766,0.013672,0.015625,0.005859,0.0,...,0.096680,0.000000,0.021484,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.031250

In [28]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 990 entries, 0 to 989
Columns: 194 entries, id to texture64
dtypes: float64(192), int64(1), object(1)
memory usage: 1.5+ MB

In [29]:
test = pd.read_csv('test.csv')

In [30]:
test.head()

,id,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,margin9,...,texture55,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64
0,4,0.019531,0.009766,0.078125,0.011719,0.003906,0.015625,0.005859,0.0,0.005859,...,0.006836,0.000000,0.015625,0.000977,0.015625,0.0,0.0,0.000000,0.003906,0.053711
1,7,0.007812,0.005859,0.064453,0.009766,0.003906,0.013672,0.007812,0.0,0.033203,...,0.000000,0.000000,0.006836,0.001953,0.013672,0.0,0.0,0.000977,0.037109,0.044922
2,9,0.000000,0.000000,0.001953,0.021484,0.041016,0.000000,0.023438,0.0,0.011719,...,0.128910,0.000000,0.000977,0.000000,0.000000,0.0,0.0,0.015625,0.000000,0.000000
3,12,0.000000,0.000000,0.009766,0.011719,0.017578,0.000000,0.003906,0.0,0.003906,...,0.012695,0.015625,0.002930,0.036133,0.013672,0.0,0.0,0.089844,0.000000,0.008789
4,13,0.001953,0.000000,0.015625,0.009766,0.039062,0.000000,0.009766,0.0,0.005859,...,0.000000,0.042969,0.016602,0.010742,0.041016,0.0,0.0,0.007812,0.009766,0.007812

In [31]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 594 entries, 0 to 593
Columns: 193 entries, id to texture64
dtypes: float64(192), int64(1)
memory usage: 895.7 KB

In [32]:
train, test = train.iloc[:, 1:], test.iloc[:, 1:]

In [84]:
X, y = train.iloc[:, 1:], train.iloc[:, 0]

In [85]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
y = le.fit_transform(y.values)
X = X.values

In [86]:
from sklearn.preprocessing import StandardScaler
X = StandardScaler().fit_transform(X)

from sklearn.decomposition import PCA
pca = PCA(n_components=31)
principalComponents = pca.fit_transform(X)
pca.explained_variance_ratio_.cumsum()

array([0.24158089, 0.34569641, 0.40841733, 0.46477469, 0.50676319,
       0.54192255, 0.57285348, 0.60075988, 0.62569692, 0.64708818,
       0.66436388, 0.68127483, 0.69704582, 0.71164755, 0.7244475 ,
       0.73681512, 0.74801012, 0.75853638, 0.76809016, 0.77742538,
       0.78595687, 0.79412426, 0.80190375, 0.80941275, 0.81609695,
       0.82244537, 0.8285692 , 0.83445311, 0.83999936, 0.84524413,
       0.85028982])

In [87]:
principalDf = pd.DataFrame(data = principalComponents)
principalDf.head();

In [88]:
X = principalDf.values

In [89]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
         X, y, test_size=0.2, random_state=42)

In [92]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100, max_depth=4,
                                  random_state=0)
clf = clf.fit(X_train, y_train)
print("Training of Random Foresst: \t: ", clf.score(X_train, y_train))
print("Test of Random Foresst: \t: ", clf.score(X_test, y_test))

Training of Random Foresst: 	:  0.8547979797979798
Test of Random Foresst: 	:  0.5757575757575758

In [90]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
print("Training of Decision Tree: \t: ", clf.score(X_train, y_train))
print("Test of Decision Tree: \t: ", clf.score(X_test, y_test))

Training of Decision Tree: 	:  1.0
Test of Decision Tree: 	:  0.6616161616161617

In [93]:
from sklearn.svm import LinearSVC
clf = LinearSVC(random_state=0, tol=1e-5)
clf = clf.fit(X_train, y_train)
print("Training of SVM: \t: ", clf.score(X_train, y_train))
print("Test of SVM: \t: ", clf.score(X_test, y_test))

Training of SVM: 	:  1.0
Test of SVM: 	:  0.9797979797979798

/home/junxiong/.local/lib/python3.6/site-packages/sklearn/svm/base.py:931: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [94]:
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
clf = clf.fit(X_train, y_train)
print("Training of Naive Bayes: \t: ", clf.score(X_train, y_train))
print("Test of Naive Bayes: \t: ", clf.score(X_test, y_test))

Training of Naive Bayes: 	:  1.0
Test of Naive Bayes: 	:  0.9494949494949495